.order{
    position: relative;
}
.order-mobile{
    position: relative;
}
.onflyer{
    position: absolute;
    /* left: 50%; */
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
/* .onflyer{
    position: relative;
    bottom: 100px;
} */
.order-mobile{
    display: none;
}
@media screen and (max-width: 424px) {
    .details-form{
        width: 300px;
    }
}
@media screen and (max-width: 304px) {
    .details-form{
        width: 250px;
    }
}
@media screen and (max-width: 936px) {
    .order{
        display: none;
    }
    .order-mobile{
        display: block;
    }
}

@media screen and (max-width: 1310px) {
    .qr-edit{
        width: 100px;
        height: 100px;
    }
}
@media screen and (max-width: 1264px) {
    .edit-names{
        display: flex;
        flex-direction: column;
    }
    .edit-names > input {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 1044px) {
    .qr-editCard{
        flex-direction: column-reverse
    }
    .edit-names{
        margin-top: 25px;
    }
}


